* {
  margin: 0;
  padding: 0;
}

.testemonials-container {
  background-color: #495E57;
  padding: 100px 40px 80px 40px;
}

.testemonials-container h3 {
  margin-bottom: 60px;
  color: #EDEDEE;
}

.testemonial-cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.testeminial-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: fit-content;
  min-width: 250px;
  height: auto;
  margin: 20px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.user-rating {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.checked {
  color: orange;
}

.unchecked {
  color: #EDEDEE;
}

.image-testemonie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-img {
  padding: 10px;
  display: block;
  height: 2lh;
  margin-right: 15px;
  border-color: #495E57;
  border-style: solid;
  border-radius: 50px;
}

/* .card img {
  height: 1rem;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
} */

/* .card {
  display:inline-flexbox;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  min-width: 300px;
  height: auto;
  margin: 20px;

  border-radius: 16px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #EDEDEE;

  text-decoration: none;
  color: rgba(0,0,0,0.9);
} */

/* .order_online {
  background-color: #f4ce14;
  width: 200px;
  height: 65px;
  border-radius: 16pt;
  border-style: hidden;
} */

/* .specials {
  overflow-x: auto;
  display: flex;
  justify-content: space-evenly;

} */



/* .card .image_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */


/* .card .title_price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
} */

/* .card .description {
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  color: #333333;
} */

/* .add_to_order {
  margin: 0 10px 20px 10px;
  display: flex;
  align-items: center;
} */

/* .add_to_order img {
  width: 30px;
} */

/*


.dishes_container {
  overflow-x: auto;
  display: flex;
}

.card {
    width: 320px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FBDABB;
    border-radius: 16px;
  }

  .dish_image {
    width: 320px;
    height: 220px;
    border-radius: 16px 16px 0 0;
  }

.card_title_box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.special_description {
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}

.order_delivery_button {
  padding: 0 10px 0 10px;
  display: flex;
  align-content: center;
  border-style: none;
  background-color: transparent;
  margin-bottom: 30px;
}

/* On mouse-over, add a deeper shadow
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */