* {
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: white;
    padding: 110px 40px 40px 40px;
    justify-content: space-between;
}

.about-text h3, .about-text h4, .about-text p{
    margin-bottom: 40px;
}

.about-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-image {
    margin: 20px;
    width: 300px;
    height: auto;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.2);
}