* {
    margin: 0;
    padding: 0;
}

.booking-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: white;
    padding: 110px 40px 40px 40px;
    justify-content: space-between;
}

.booking-container h3, .booking-container p{
    margin-bottom: 40px;
}
