* {
    margin: 0;
    padding: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EDEFEE;
    padding: 30px 40px 15px 40px;
    align-items: flex-start;
    font-size: smaller;
}

.logo-buttom {
    padding-bottom: 40px;
    align-items: start;
    height: 9lh;
}

.site-map {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.site-map-item {
    padding-bottom: 10px;
    text-decoration: none;
    color: #333333;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-item {
    padding-bottom: 10px;
    text-decoration: none;
    color: #333333;
    text-transform: initial;
}

.social {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
