@font-face {
  font-family: 'Markazi Text', serif;
  src: url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');

  font-family: 'Karla', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap');
}

body {
  margin: 0;
  font-family: 'Karla', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333333;
  font-size: 16pt;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Markazi Text';
  font-size: 64pt;
  font-weight: 500;
  text-transform: capitalize;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 40pt;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 18pt;
  font-weight: 700;
  text-transform: initial;
}

h5 {
  font-size: 18pt;
  font-weight: 500;
  text-transform: capitalize;
}

h6 {
  font-weight: 500;
  text-transform: initial;
}

p {
  line-height: 1.5lh;
  font-weight: 400;
  text-transform: initial;
  max-width: 65ch;
}

.button {
  background-color: #f4ce14;
  width: 230px;
  height: 65px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16pt;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px
}