* {
    margin: 0;
    padding: 0;
}

.header-container {
    margin-top: 90px;
    display: flex;
    text-align: start;
    background-color: #495e57;
    padding: 40px 40px 40px 40px;
    justify-content: space-between;
}

.header-container h1 {
    color: #f4ce14;
}

.header-container h2,
.header-container p {
    color: #EDEDEE;
}

.image-container {
    height: 10lh;
    margin-right: auto;
    margin-left: auto;
}

.image-container img {
    position: relative;
    overflow-y: visible;
    top: 40px;
    border-radius: 16pt;
    height: 19lh;

}

@media (width < 1250px) {
    .image-container {
        display: none;
    }
}